<h1>大会一覧</h1>

<%= form_tag(search_event_path, method: "get") do %>

  <%= text_field_tag :from %>
  ~
  <%= text_field_tag :to %>
  ㎞
  <%= submit_tag "絞り込み" %>
<% end %>
<%= form_tag(search2_event_path, method: "get") do %>

  <%= submit_tag "エントリー期限が近い大会を探す" %>
<% end %>

<% @events.each do |event| %>
<div class="event2">
<% if event.day <= Date.today %>
<div class="map2">

   <%=image_tag asset_path('map1.png', :alt => '画像')%>

  <p class="map4">
    <%= link_to event.name, event_path(event.id) %>
  <p>
</div>
<div class="map3">
  <p>開催日</p>
  <p class="event1"><%= event.day %><p>
  <p>距離</p>
  <p class="event3"><%= event.distance %>㎞<p>
    <% if event.favorited_by?(current_user) %>
    <p class="event3">
      <%= link_to favorites_path(:event_id => event.id), method: :delete do %>
        ♥<%= event.favorites.count %> いいね
      <% end %>
    </p>

    <% else %>
    <p class="event3">
      <%= link_to favorites_path(:event_id => event.id), method: :post do %>
        ♡<%= event.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

</div>

  <%else %>
  <div class="map2">

  <%=image_tag asset_path('map1.png', :alt => '画像')%>

  <p class="map4">
    <%= link_to event.name, event_path(event.id) %>
  <p>
  </div>
  <p>開催日</br>
  <%= event.day %></p>
  <p >距離</br>
  <%= event.distance %>㎞</p>
     <% if event.favorited_by?(current_user) %>
    <p>
      <%= link_to favorites_path(:event_id => event.id), method: :delete do %>
        ♥<%= event.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to favorites_path(:event_id => event.id), method: :post do %>
        ♡<%= event.favorites.count %> いいね
      <% end %>

<% end %>
<% end %>
</div>
<% end %>
