<h1>イベント詳細</h1>
<p>エントリー画面へのリンクとランキング画面へのリンクがあります。。</p>

  <p><%= @event.name %></p>
  <p>内容</p>
  <p><%= @event.introduction %></p>
  <p>開催場所</p>
  <p><%= @event.place %></p>
  <p>定員</p>
  <p><%= @event.capacity %></p>
  <p>開催日</p>
  <p><%= @event.day %></p>
  <p>距離</p>
  <p><%= @event.distance %>㎞</p>

  <%= Date.current.strftime %>

  <% if @event.day <= Date.today %>
  <p>エントリーを締め切りました。</p>

  <% elsif  @event.capacity <= @entrys %>
  <p>定員オーバーのためエントリーを締め切りました。</p>
  <% else %>
  </p>
  <%= link_to "エントリーへ進む", new_entry_path(:event_id => @event.id)%>
  </p>
  <% end %>

  <p>
  <%= link_to "ランキングを見る", rank_path(:event_id => @event.id)%>
  </p>

-------------------------------------------------------------------
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>GoogleMap1</title>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyBM48qcMZ4GHZwvT2UCuEcRq7raYOTi9q8&language=ja"></script>

<style>
html { height: 100% }
body { height: 100% }
#map { height: 50%; width: 50%}
</style>

<div id="map">
<script>
var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
var Options = {
 zoom: 15,      //地図の縮尺値
 center: MyLatLng,    //地図の中心座標
 mapTypeId: 'roadmap'   //地図の種類
};
var map = new google.maps.Map(document.getElementById('map'), Options);
</script>
</div>
</body>
</html>
--------------------------------------------------------------------

---------------------------------------------------------------------

