<h1>organizer::Events#edit</h1>

<%= form_with model: @event, url:organizer_event_path, local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :name %>
  <h4>本文</h4>
  <%= f.text_area :introduction %>
  <h4>開催場所</h4>
  <%= f.text_field :place %>
  <h4>定員</h4>
  <%= f.number_field :capacity %>
  <h4>開催日</h4>
  <%= f.date_select :day %>
  <h4>距離</h4>
  <%= f.number_field :distance %>

  <%= f.submit '更新する' %>
<% end %>

<p>
    <%= link_to "戻る", organizer_events_path %>
<p>
<p><%= link_to "削除", organizer_event_path(@event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

<p>
<%= link_to "マップ編集", edit_organizer_map_path(@map, :event_id => @event.id) %>
<p>
