<h1>organizers::Events#new</h1>

<%= form_with model: @event, url:organizer_events_path, local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :name %>
  <h4>本文</h4>
  <%= f.text_area :introduction %>
  <h4>開催場所</h4>
  <%= f.text_field :place %>
  <h4>定員</h4>
  <%= f.number_field :capacity %>
  <h4>開催日</h4>
  <%= f.date_select :day %>
  <h4>距離</h4>
  <%= f.text_field :distance %>

  <%= f.hidden_field :organizer_id, :value =>current_organizer.id %>
  

  <%= f.submit '作成' %>
<% end %>

