<h1>organizers::Events#show</h1>

　<p>
    <%= link_to "編集する", edit_organizer_event_path(@event.id) %>
  <p>

  <p>タイトル</p>
  <p><%= @event.name %><p>
  <p>内容</p>
  <p><%= @event.introduction %><p>
  <p>開催場所</p>
  <p><%= @event.place %><p>
  <p>定員</p>
  <p><%= @event.capacity %><p>
  <p>開催日</p>
  <p><%= @event.day %><p>
  <p>距離</p>
  <p><%= @event.distance %>㎞<p>

  <p>
    <%= link_to "エントリー選手一覧", organizer_entrys_path(:event_id => @event.id)%>
  <p>
