<h1>Admin::Entrys#edit</h1>

<%= form_with model:@entry, url: admin_entry_path, local:true do |f| %>
  <h4>タイム</h4>
  <%= f.text_field :time %>
  <%= f.text_field :rank %>

  <%= f.hidden_field :event_id, :value => @entry.event_id %>
  <%= f.hidden_field :start_time, :value => @entry.event.day %>


  <%= f.submit '更新する' %>
<% end %>

