<h1>Admin::Entrys#index</h1>


<p>
  <%= link_to "rank", admin_rank_path(:event_id => @entrys.first.event_id) %>
<p>

<% @entrys.each do |entry| %>
  <p>タイム</p>
  <p>
    <%= link_to entry.time, admin_entry_path(entry.id) %>
  <p>
  <p>ユーザー名</p>
  <p><%= entry.user.name %><p>
  <p>大会ID</p>
<p><%= entry.event_id %><p>
<p>大会名</p>
<p><%= entry.event.name %></p>
  ---------------------------------------------------------
<% end %>

