<h1>Admin::Entrys#index</h1>


<p>
  <%= link_to "rank", admin_rank_path(:event_id => @entrys.first.event_id) %>
<p>

  <p><%= @enter %>人/ <%= @entry.event.capacity %></p>
  <p><%= @entry.event.name %></p>
<table>
    <tr>
      <th>タイム</th>
      <th>ユーザー名</th>

    </tr>
    <% @entrys.each do |entry| %>
    <tr>
      <th>
        <%= link_to entry.time, admin_entry_path(entry.id) %>
      </th>
      <th><%= entry.user.name %></th>

　    </tr>
    <% end %>
  </table>


