<h1>エントリー一覧</h1>

<div class="calendar">
  <div class="calendar-heading">
  </div>
　<%= month_calendar events: @entrys do |date, entrys| %>
  <%= date.day %>
  <% entrys.each do |entry| %>
    <p><%= link_to entry.event.name,entry_path(entry.id)  %></p>
  <% end %>
</div>
<% end %>

<% @entrys.each do |entry| %>
  <%  if entry.event.day <= Date.today %>
    <div class="entry1">
    <p><%= link_to entry.event.name, event_path(entry.event_id) %>の結果を見る<p>
    <% if entry.rank == 999%>
    順位　---
    <% else %>
    <p>順位
    <%= entry.rank %><p>
    <% end %>
    <p>タイム
    <%= Time.at(entry.time).strftime("%H時間%M分%S秒")%><p>
    </div>
  <% else %>
    <div class="entry2">
    <p><%= link_to entry.event.name, event_path(entry.event_id) %>の詳細をみる<p>
    <% if entry.rank == 999%>
    順位　---
    <% else %>
    <p>順位
    <%= entry.rank %><p>
    <% end %>
    <p>タイム
    <%= Time.at(entry.time).strftime("%H時間%M分%S秒")%><p>
    </div>
  <% end %>
<% end %>

