<h1>Public::Entrys#index</h1>

<%= month_calendar events: @entrys do |date, entrys| %>
  <%= date.day %>

  <% entrys.each do |entry| %>
    <div>
      <%= link_to entry.event.name,entry_path(entry.id)  %>
    </div>
  <% end %>
  
<% end %>
<% @entrys.each do |entry| %>
  <p>タイム</p>
  <p><%= entry.time %><p>
  <p>大会名</p>
  <p><%= link_to entry.event.name, event_path(entry.event_id) %><p>
  ---------------------------------------------------------
<% end %>

