<h1>新規エントリー画面</h1>
<% if @entry.errors.any? %>


  すでにエントリー済みです。

<% end %>

<%= form_with model: @entry, url:entrys_path, local:true do |f| %>

  <%= f.hidden_field :time, :value => 0%>
  <%= f.hidden_field :rank, :value => 999%>
  <%= f.hidden_field :start_time, :value =>@event.day %>
  <%= f.hidden_field :event_id, :value =>@event.id %>

  <%= f.submit 'エントリーする' %>
  

<% end %>