<h1>rank</h1>

<%= form_tag(search_path, method: "get") do %>
  <%= text_field_tag :name %>
  <%= hidden_field_tag :event_id, @event.id%>
  <%= submit_tag "絞り込み" %>
<% end %>

<table>
    <tr>
      <th>順位</th>
      <th>タイム</th>
      <th>ユーザー名</th>

    </tr>
    <% @users.each.with_index(1) do |user, i| %>
    <tr>
      <th><%= i %></th>
      <th><%= Time.at(user.entrys.find_by(event_id: @event.id).time).strftime("%H時間%M分%S秒")%></th>
      <th>
      <%= link_to user.name, user_path(user) %>　選手
　    </th>

　    </tr>
    <% end %>
  </table>