<h1>Organizer::Entrys#index</h1>

<p>
  <%= link_to "ランク順へ進む", organizer_rank_path(:event_id => @entrys.first.event_id) %>
<p>

  <p><%= @enter %>人/ <%= @event.capacity %></p>
  <p><%= @event.name %></p>

<table>
    <tr>
      <th>順位</th>
      <th>タイム</th>
      <th>ユーザー名</th>

    </tr>
    <% @entrys.each.with_index(1) do |entry, i| %>
    <tr>
      <th><%= i %></th>
      <th><%=entry.time%></th>
      <th>
    <%= link_to entry.user.name, edit_organizer_entry_path(entry.id) %>
　    </th>

　    </tr>
    <% end %>
  </table>
