
<div class="main-column">
<h2 class="login3">主催者ログイン</h2>
<div class="loginBlock">
<div class="loginArea3">

<%= form_with model: @organizer, url: organizer_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :"Eメール" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <% end %>
</div>
</div>
</div>

<p><%= link_to "主催者新規登録", new_organizer_registration_path %></p>

