<!DOCTYPE html>
<html>
  <head>
    <title>RunningOrder1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header1">
    <% if admin_signed_in? %>

      <ul class="header2">
        <%= link_to "ログアウトa", destroy_admin_session_path, method: :delete %>

        <%= link_to "トップ画面", admin_top_path %>

        <%= link_to "大会一覧", admin_events_path %>

        <%= link_to "ユーザー一覧", admin_users_path %>
      </ul>

    <% elsif user_signed_in? %>

      <ul class="header2">
        <%= link_to "ログアウトu", destroy_user_session_path, method: :delete %>

        <%= link_to "マイページ", root_path %>

        <%= link_to "大会一覧", events_path %>

        <%= link_to "エントリー一覧", entrys_path %>
      </ul>
      <% @userh = current_user.name %>
      <ul><%= @userh %>選手</ul>

    <% else %>

      <ul class="header2" >
        <%= link_to "ユーザー新規登録", new_user_registration_path %>

        <%= link_to "ユーザーログイン", new_user_session_path %>

      </ul>
    <% end %>
    </nav>
    <%= yield %>

  </body>
</html>
