<!DOCTYPE html>
<html>
  <head>
    <title>RunningOrder1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>

      <li>
        <%= link_to "ログアウトa", destroy_admin_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "トップ画面", admin_top_path %>
      </li>
      <li>
        <%= link_to "大会一覧", admin_events_path %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", admin_users_path %>
      </li>

    <% else %>

      <li>
        <%= link_to "新規登録a", new_admin_registration_path %>
      </li>
      <li>
        <%= link_to "ログインa", new_admin_session_path %>

      </li>
    <% end %>

    <% if user_signed_in? %>

      <li>
        <%= link_to "ログアウトu", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", root_path %>
      </li>
      <li>
        <%= link_to "イベント一覧", events_path %>
      </li>
      <li>
        <%= link_to "エントリー一覧", entrys_path %>
      </li>

    <% else %>

      <li>
        <%= link_to "新規登録u", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログインu", new_user_session_path %>

      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
